body {
    box-sizing: border-box;
}

.elementos {
    display: flex;
    margin: 5%;
    gap: 1vh;
    flex-wrap: wrap;
}

.elemento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.2rem;
    list-style: none;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.empty {
    width: 52px;
    height: 52px;
    padding: 0.2rem;
}

.space-line {
    display: block;
    width: 100%;
    height: 20px;
}

.elemento .simbolo {
    align-self: center;
    font-size: 2rem;
}