body {
    box-sizing: border-box;
    /* overflow: hidden; */
}

.elementos {
    width: 75vw;
    display: flex;
    margin: 15vh auto;
    gap: 2px;
    row-gap: 2px;
    flex-wrap: wrap;
}

.elemento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.2rem;
    list-style: none;
    border: 1px solid black;
    width: 4.5%;
    aspect-ratio: 1;
}

.empty {
    width: 4.5%;
    aspect-ratio: 1;
    padding: 0.2rem;
    border: 1px solid transparent;
}

.space-line {
    display: block;
    width: 100%;
    height: 20px;
}

.elemento .simbolo {
    align-self: center;
    font-size: 1.5rem;
}